<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.oomph"
            name="Oomph">
      </category>
      <wizard
            category="org.eclipse.oomph"
            class="org.eclipse.emf.compare.git.pgm.oomph.wizard.EMFCompareGitPGMSetupWizard"
            icon="icons/emfcompare-icon.gif"
            id="org.eclipse.emf.compare.git.pgm.oomph.wizard"
            name="Setup Model for EMF Compare&apos;s Git commands"
            project="false">
          <description>This wizard creates a new setup model for EMF Compare&apos;s Git commands.</description>
      </wizard>
   </extension>

</plugin>
